<article class="beer-container" role="beer card">
  <picture role="beer picture" class="photo">
    <img src="{{drinkData.image_url}}" alt="{{drinkData.name}}">
  </picture>

  <div class="drink-info-wrapper" role="drink info">
    <div role="drink Info Content" class="drink-info-content">
      <div class="drink-description-wrapper">
        <h3 class="heading-03 drink-name" role="drink name">{{drinkData.name}}</h3>
        <p class="text-body drink-description"
          [ngClass]="{expand: textExpand}"
          role="drink description"
          #drinkText>{{drinkData.description}}</p>
        <span *ngIf="overflow" class="text-body show-more" (click)="showMore()"
          role="show more - show less">
          Ver {{textExpand ? 'menos' : 'más'}}</span>
      </div>
      <h3 class="heading-03 abv"
        [ngClass]="[getClassByCategory(drinkData.abv)]" role="Alcohol By
        Volume">{{drinkData.abv}}</h3>
    </div>
    <div role="ideal to Combine" class="text-info ideal-to-combine"><strong>Ideal
        para combinar con: {{ getFoodPairingText(drinkData.food_pairing)}}</strong></div>
  </div>
</article>
