@import "~normalize.css";
@import "./assets/styles/color-variables.scss";
@import "./assets/styles/tipography.scss";

* {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--text-03);
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
  }

  ::-webkit-scrollbar-track {
    background: var(--bg-02);
  }
}

html{
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--bg-01);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
