@mixin at-break($breakpoint, $only: false) {
  // Breakpoints
  $breakpoints: (
    sm: 768px,
    md: 1024px,
    lg: 1280px,
  );

  // Only
  @if $only {
    @if $breakpoint == sm {
      @media screen and (min-width: map-get($breakpoints, "sm")) and (max-width: map-get($breakpoints, "md")) {
        @content;
      }
    } @else if $breakpoint == md {
      @media screen and (min-width: map-get($breakpoints, "md")) and (max-width: map-get($breakpoints, "lg")) {
        @content;
      }
    } @else if $breakpoint == lg {
      @media screen and (min-width: map-get($breakpoints, "lg")) {
        @content;
      }
    }
  } @else {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// Horizontal
@mixin at-sm {
  @include at-break(sm) {
    @content;
  }
}
@mixin at-md {
  @include at-break(md) {
    @content;
  }
}
@mixin at-lg {
  @include at-break(lg) {
    @content;
  }
}

// Only
@mixin only-xs {
  @include at-break(xs, true) {
    @content;
  }
}
@mixin only-sm {
  @include at-break(sm, true) {
    @content;
  }
}
@mixin only-md {
  @include at-break(md, true) {
    @content;
  }
}
@mixin only-lg {
  @include at-break(lg, true) {
    @content;
  }
}
