:root {
  --primary: #4ba7ee;
  --secondary: #003970;
  --tertiary: #001841;
  --text-01: #4e5156;
  --text-02: #000000;
  --text-03: #cccccc;
  --data-01: #db171d;
  --data-02: #ffab48;
  --data-03: #ffef63;
  --bg-01: #f9f9f9;
  --bg-02: #f8f9fa;
  --bg-03: #ffffff;
  --semantic-01: #76c544;
  --semantic-02: #fac937;

}
