@import "at-break.scss";

.home-container {
  & .main-layout {
    max-width: 80rem;

    @include at-sm {
      padding: 0 1rem 0 1rem;
    }

    @include at-md {
      margin: 0 auto;
      max-width: 80rem;
    }

    & .tabs-container {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }

    p {
      color: var(--brand);
    }
  }
}
